.side__bar{
    width: 400px;
    min-width: 250px;
    height: 100vh;
    position: sticky;
    top:0;
    padding: 4.5em 2em;
    display: flex;
    justify-content: center;
    transition: .8s;

}

.hiden__sidebar{
   margin-left: -350px;
   transition: .8s;
}

.filter__price{
    padding: 10px;
}


.filter__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0; 
}


.filter__form label{
    font-size: 3em;
}

.filter__content input{
    max-width: 200px;
    border-radius: 3px;
    border: 1px solid black;
    height: 25px;
}


.btn_filter{
    
    padding: 10px;
     border-radius: 5px;
     background-color: brown;
     color: white;
     border: none;
     width: 100%;
    cursor: pointer;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .1); 
}
.filter__line{
    border: 0.5px solid rgb(209, 206, 206);
    margin: 3px 0;
}

.filter__category{
    padding:  10px;
}


.filter__category ul{
    padding:  10px;
    gap: 0.5em;
}
.filter__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}