.history{
    display: flex;
    gap: 15px;
    
}

.product-info{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: space-around;
    
    
}

.col1,
.col2{
    width: 47%;
    min-width: 300px;
    max-width: 495px;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    gap: 30px;
}

.product-options{
    display: flex;
}

.price{
    width: 50%;
    height: 76px;
    
}


.product-data p {
    text-align: justify;
    margin-bottom: 30px;
}

.add-card-btn{

    width: 100%;
    height: 43px;
    border: none;

    font-size: 1.1rem;
    color: white;
    background-color: #f85555;;
}

.option-quanty{
    margin-bottom: 30px;
    display: flex;
}

.val{
  width: 50px;
  height: 30px;
 display: flex;
 justify-content: center;
 align-items: center;
 border: 1px solid rgb(228, 224, 224);
 border-radius: 15px;
 margin: 0 10px;
}
.option-quanty button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    background-color: #f85555;
    border: none;

}
.option-quanty input{
    width: 50px;
    height: 30px;
}
.quanty h3{
    text-align: center;
}