.container-register{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.regis__form{
    border: 1px solid rgb(145, 145, 145);
    width: 300px;
    height: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 10px;
    margin-top: 150px;
    box-shadow: 5px 5px 15px rgb(159, 157, 157);
    
}
