*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    padding: 4.5em 2em;
    width: 100%;
    /* height: 2000px; */
}

/* img{
    width:100%;
} */
  
@media (max-width:500px){
    .line{
        display: none;
    }
    .header__list{
        gap:1em;
    }
}